<h2>New Book</h2>
<!-- Here We creat a from that will give us all the data about our new author that will then be pass into the Author object we have access to -->
<form action="/books" method="post">
  <!-- Here we are INSERTING the partial form fields file -->
  <%- include("_form_fields") %>
  <a href="/books">Cancel</a>
  <button type="submit">Create</button>
</form>
