<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mybrary</title>
  </head>
  <style>
    body {
      font-family: sans-serif;
    }
  </style>
  <body>
    <!-- Here We include the static html in our header.ejs file this will be included on all our views  -->
    <%- include('../partials/header.ejs') %> <%-
    include('../partials/errorMessage.ejs')%>
    <!-- Here we put the actual content of our app what ever we put in our other ejs files will be inserted/imported here -->
    <%- body %>
  </body>
</html>
