<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/filepond/dist/filepond.css"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css"
      rel="stylesheet"
    />

    <script
      defer
      src="https://unpkg.com/filepond-plugin-file-encode/dist/filepond-plugin-file-encode.js"
    ></script>

    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-preview/dist/filepond-plugin-image-preview.js"
    ></script>
    <script
      defer
      src="https://unpkg.com/filepond-plugin-image-resize/dist/filepond-plugin-image-resize.js"
    ></script>

    <script defer src="https://unpkg.com/filepond/dist/filepond.js"></script>

    <script defer src="/javascripts/fileUploads.js"></script>

    <title>Mybrary</title>
  </head>

  <style>
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }
  </style>
  <body>
    <!-- Here We include the static html in our header.ejs file this will be included on all our views  -->
    <%- include('../partials/header.ejs') %> <%-
    include('../partials/errorMessage.ejs')%>
    <!-- Here we put the actual content of our app what ever we put in our other ejs files will be inserted/imported here -->
    <%- body %>
  </body>
</html>
