<h2 class="page-header">New Author</h2>
<!-- Here We creat a from that will give us all the data about our new author that will then be pass into the Author object we have access to -->
<form action="/authors" method="post">
  <!-- Here we are INSERTING the partial form fields file -->
  <%- include("_form_fields") %>
  <div class="form-row form-row-end btn-row">
    <a class="btn btn-danger" href="/authors">Cancel</a>
    <button class="btn btn-primary" type="submit">Create</button>
  </div>
</form>
